/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2014, 2:24:31 PM
    Author     : Dlock
*/
#loginButton
{
    display: block;
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
    border-color: #00D107;
    text-wrap: normal;
}
#information
{
    display: block;
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
    border-color: #E3620B;
    text-wrap: normal;
}
